{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Liste des articles{% endblock %}

{% block content %}

    <div class="container">
        <h4 class="col-sm-12 text-center">Articles</h4>
        <table class="row list-group-item d-flex justify-content-between align-items-center">
            <tr>
                <th class = "col-sm-1 align-text-bottom">Id</th>
                <th class = "col-sm-2 align-text-bottom m-1">Titre</th>
                <th class = "col-sm-3 align-text-bottom m-1">Categories</th>
                <th class = "col-sm-1 align-text-bottom m-1">Publié</th>
                <th class = "col-sm-3 align-text-bottom m-1">Date de publication</th>
                <th class = "col-sm-3 align-text-bottom m-1">Date de mise à jour</th>
                <th class = "col-sm-1 align-text-bottom m-1">Consulter</th>
            </tr>
            {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td> 
                <td>{{ article.title }}</td>
                <td>{% for category in article.categories %} {{ category.label }}{{ loop.last ? ' ' : '. ' }} {% endfor %}</td>
                <td>
                    {% if article.isPublished == true %}
                        <p>OUI</p>
                    {% else %}
                        <p>NON</p>
                    {% endif %}
                </td>     
                <td>{{ article.lastUpdateDate|date('d/m/Y') }}</td>
                <td>{{ article.publicationDate|date('d/m/Y') }}</td>
                <td> 
                    <a href="{{ path('show', {'id': article.id }) }}">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}